{% extends 'base.html' %}
{% block heading %} Signup {% endblock heading %}

{% block content %}

<form class="w-2xl sm:w-1/2 max-w-xs flex flex-col mx-auto -mt-8 sm:-mt-12" action="/student/signup/" method="POST">
  {% csrf_token %}
  <div class="w-1/2  max-w-xs flex flex-col sm:flex-row mt-4  sm:items-center"></div>
    <label class="text-xl" for="firstname">Firstname</label>
    <input
      class="px-2 py-1 bg-transparent border-white border-2 h-lg mt-2 rounded "
      name="firstname"
      type="text"
      placeholder="firstname"
    />
  </div>
  <div class="w-1/2 max-w-xs flex flex-col sm:flex-row mt-4 sm:items-center"></div>
    <label class="text-xl" for="lastname">Lastname</label>
    <input
      class="px-2 py-1 bg-transparent border-white border-2 mt-2  rounded "
      name="lastname"
      type="text"
      placeholder="lastname"
    />
  </div>
  <div class="w-1/2  max-w-xs flex flex-col sm:flex-row mt-4  sm:items-center"></div>
  <label class="text-xl" for="studentID">StudentID</label>
  
  <input
    class="px-2 py-1 bg-transparent border-white border-2 h-lg mt-2 rounded "
    name="studentID"
    type="text"
    id="studentID"
    placeholder="studentID"
  />
  <p id="studentID-error" class="hidden text-red-400 py-1">ID either incomplete or exists</p>
</div>
</div>
<div class="w-1/2 max-w-xs flex flex-col sm:flex-row mt-4 sm:items-center"></div>
  <label class="text-xl" for="password">Password</label>
  <input
    class="px-2 py-1 bg-transparent border-white border-2 mt-2  rounded "
    name="password"
    type="password"
    placeholder="password"
  />
</div>
<div class="w-1/2 max-w-xs flex flex-col sm:flex-row mt-4 sm:items-center"></div>
<label class="text-xl" for="department">Department</label>
<select class="rounded border border-red-300 py-2 focus:outline-none focus:ring-2 focus:ring-red-200 mt-2 focus:border-red-500 text-base pl-3 pr-10 text-gray-800" name="department">
  <option   value="">Select a dept</option>
  {% for dept in departments %}
  <option   value="{{dept.id}}">{{dept}}</option>
  {% endfor %}
</select>
</div>
  
<button class="text-white hover:shadow-md text-xl rounded bg-green-500 px-4 py-2 mt-8 " type="submit">Submit</button>
</form>


<script>
const users="{{users | escapejs}}"; 
const idField=document.querySelector('#studentID');
const idError=document.querySelector('#studentID-error');
idField.addEventListener('input',()=>{
  idError.classList.add('hidden')
  if (users.includes(idField.value)){
    idError.classList.remove('hidden')
  }
})
</script>
{% endblock content %}
