<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup</title>
  </head>

  <body>
    {% if message %}
    <h1>{{message}}</h1>
    {% endif %}

    <form action="/student/signup/" method="POST">
      {% csrf_token %}
      <input type="text" name="firstname" placeholder="firstname" />
      <input type="text" name="lastname" placeholder="lastname" />
      <input type="text" name="studentID" placeholder="studentID" />
      <input type="password" name="password" placeholder="password" />
      <select name="department">
        <option value="">Select a dept</option>
        {% for dept in departments %}
        <option value="{{dept.id}}">{{dept}}</option>
        {% endfor %}
      </select>
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
